.sidebar-logo {
	padding: 1.5rem;
}

.sidebar-logo img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	margin: 0 auto;
}

.read-more {
  	overflow: hidden;
}

a.read-more-link span {
	color: #FFFFFF;
}

a.read-more-link {
    float: right;
    display: block;
    padding: 5px 10px;
    background-color: #6a9fb5;
    border-radius: 10px;
    font-size: 80%;
}

a.read-more-link:hover {
    background-color: #515151;
    text-decoration: none;
}

a.read-more-link:after {
	content: ' \00BB';
	color: #FFFFFF;
}